<div class="row">
  <div class="col-sm-4">
    <div><label>{{title}}:</label></div>
  </div>

  <div class="col-sm-4 word-wrap">
    {{#if boolean}}
      {{#if value}}
        Yes
      {{else}}
        No
      {{/if}}
    {{else if object}}
      {{#each value}}
        {{#if this}}
          ${{@key}},
        {{/if}}
      {{/each}}
    {{else if array}}
      {{#each value as |v|}}
        {{#if v.code}}
          {{v.code}},
        {{/if}}
      {{/each}}
    {{else}}
      {{#if value}}
        {{value}}
      {{else}}
        --
      {{/if}}
    {{/if}}
  </div>
</div>
