<!--<div class="row spec-headers">
  <div class="col-sm-4 spec-headers-specification">Specification</div>
  <div class="col-sm-3 col-sm-offset-4 spec-headers-passing">% Passing</div>
</div>
<div class="row spec-headers-table">
  <div class="col-sm-12">
  {{#each children as |child|}}
    <div class="row spec-row">
      <div class="col-sm-5 spec-title">{{child.name}}</div>
      <div class="col-sm-4 spec-bar-graph">
        <div class="progress-small">
          <div class="progress-bar progress-bar-success" role="progressbar" data-original-title="" title="" style="width: {{child.percentPassed}}%;"></div>
          <div class="progress-bar progress-bar-danger" role="progressbar" data-original-title="" title="" style="width: {{child.percentFailed}}%;"></div>
          <div class="progress-bar progress-bar-untested" role="progressbar" data-original-title="" title="" style="width: {{child.percentUntested}}%;"></div>
        </div>
      </div>
      <div class="col-sm-3 spec-percent-passing">{{child.percentPassed}}%</div>
    </div>
  {{/each}}
  </div>
</div>
-->
