<div class="container main servers-show">
  <div class="row content">
    <div class="col-sm-12">
      <div class="palette report scorecard">

        <button class="pull-right btn begin scorecard-score-another" <%if @scorecards.length == 0 %> style='display:none' <% end %>>Score another record</button>

        <h1>FHIR Patient Record <span style="color: #B74C18"> Scorecard</span></h1>

        <div class="scorecard-form" <%if @scorecards.length > 0 %> style='display:none' <% end %>>

          <div class="well helper_text">
            This FHIR Scorecard provides a scorecard for a <strong>FHIR Patient Record</strong> (as a FHIR Bundle). 
            <br/><br/>
            Achieving interoperability with Patient Healthcare Records within FHIR will require agreement on "best practices" beyond the base specification.
            Those agreements could be in the form of an Implementation Guide with associated Profiles, but our scorecard provides them in the form of testable rubrics.
            <br/><br/>
            This scorecard borrows inspiration and rubrics from C-CDA scorecards from  
            <a href="https://sitenv.org/ccda-smart-scorecard/#/rubricBody0-0">ONC</a> and 
            <a href="http://ccda-scorecard.smartplatforms.org/static/ccdaScorecard/#/">SMART</a>.
          </div>

          <!-- BEGIN TABS -->
          <div class="row">
            <ul class="nav nav-tabs tabbed-data-container">
              <li class="tabbed-data active"><a data-toggle="tab" href="#url-form" aria-expanded="true">Bundle URL</a></li>
              <li class="tabbed-data"><a data-toggle="tab" href="#upload-form" aria-expanded="false">Upload Bundle</a></li>
              <li class="tabbed-data"><a data-toggle="tab" href="#paste-form" aria-expanded="false">Copy &amp; Paste</a></li>
            </ul>
          </div>

          <div class="tab-content">

            <!-- BEGIN URL FORM -->
            <div class="tab-pane active" id="url-form">
              <form action="/scorecard/score_url" method="post" id="scorecard-url-form">
                  <div class="row form landing-page">
                  <div class="col-sm-1">
                    <div class="picture landing-page visible-lg-block">
                      <img src="<%= image_path("logo_dark.png")%>" alt="Crucible">
                    </div>
                  </div>
                  <div class="col-sm-11 landing-page-form">
                    <div class="row">
                      <div class="col-sm-10">
                        <input required placeholder="[FHIR Server URL]/Patient/[id]/$everything" type="text" name="bundle_url" class="form-control">
                      </div>
                      <div class="col-sm-2">
                        <input type="submit" class="btn begin" value="Score"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- BEGIN UPLOAD FORM -->
            <div class="tab-pane" id="upload-form">
              <%= form_tag("/scorecard/score_upload", multipart: true) do %>
                <div class="row form landing-page">
                  <div class="col-sm-1">
                    <div class="picture landing-page visible-lg-block">
                      <img src="<%= image_path("logo_dark.png")%>" alt="Crucible">
                    </div>
                  </div>
                  <div class="col-sm-11 landing-page-form">
                    <div class="row">
                      <div class="col-sm-10">
                        <%= file_field_tag 'bundle_contents' %>
                      </div>
                      <div class="col-sm-2">
                        <input type="submit" class="btn begin" value="Score"></input>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <!-- BEGIN COPY AND PASTE FORM -->
            <div class="tab-pane" id="paste-form">
              <form action="/scorecard/score_paste" method="post" id="scorecard-paste-form">
                  <div class="row form landing-page">
                  <div class="col-sm-1">
                    <div class="picture landing-page visible-lg-block">
                      <img src="<%= image_path("logo_dark.png")%>" alt="Crucible">
                    </div>
                  </div>
                  <div class="col-sm-11 landing-page-form">
                    <div class="row">
                      <div class="col-sm-10">
                        <textarea required rows="10" placeholder="Copy &amp; Paste FHIR Patient Record (as Bundle)" name="bundle_body" class="form-control"></textarea>
                      </div>
                      <div class="col-sm-2">
                        <input type="submit" class="btn begin" value="Score"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <% if @error %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            Error: <%= @message %>
            <br/>
            <%= @error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        <% end %>

        

        <% if @top_scorecards && !@top_scorecards.empty? && @recent_scorecards && !@recent_scorecards.empty? %>
          <div class="row">
            <div class="col-sm-6">
              <div class="tab-content">
                <div class="recentScorecards tab-pane fade in">
                  <h2 style="border-bottom:0px;padding-bottom:0px;">Recent Scorecards</h2>
                </div>
                <div class="topScorecards tab-pane fade in active">
                  <h2 style="border-bottom:0px;padding-bottom:0px;">Top Scorecards</h2>
                </div>
              </div>
            </div>

            <div class="col-sm-6 server-filters" style="margin-top:11px;">
              
              <ul class="nav nav-pills nav-justified pull-right" style="width:200px;">
                <li class="active"><a data-toggle="pill" data-target=".topScorecards">Score</a></li>
                <li><a data-toggle="pill" data-target=".recentScorecards">Recent</a></li>
              </ul>
              <p class="pull-right align-middle" style="padding-right:5px;margin-top:10px;">Sort by:</p>
            </div>

            <div class="tab-content">
              <div class="topScorecards tab-pane fade in active">
                <table class="table table-striped" style="border-width: 2px;border-style:solid;border-color:rgb(221,221,221)">
                  <thead style="font-size:18px;">
                    <tr>
                      <th>#</th>
                      <th>Source</th>
                      <th style="text-align: center;">Date</th>
                      <th style="text-align: center;">Score</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% colors = ['#bd0026','#f03b20','#fd8d3c','#fecc5c','#c2e699','#78c679','#31a354','#006837'] %>
                    <% index = 0 %>
                    <% @top_scorecards.each do |scorecard| %>
                      <% index = index + 1 %>
                      <tr style="border-bottom:1px solid rgb(221,221,221);">
                        <td><%= index %></td>
                        <td ><% if scorecard.url %><%= scorecard.url %><% else %>Bundle Upload<%end%></td>
                        <td style="text-align:center;"><%= scorecard.date.strftime("%H:%M, %m/%d/%y") %></td>
                        <td style="text-align:center"><% if scorecard.result.length > 0 %><%= scorecard.result[0]["points"] %><% end %> </td>
                        <td style="text-align:center"><% if scorecard.result.length > 0 %><a aria-hidden="true" href="/scorecard/<%= scorecard._id %>">Report</a><% end %></td>            
                      </tr>
                    <% end %>
                  </tbody> 
                </table>
              </div>

              <div class="recentScorecards tab-pane fade in">
                <table class="table table-striped" style="border-width: 2px;border-style:solid;border-color:rgb(221,221,221)">
                  <thead style="font-size:18px;">
                    <tr>
                      <th style="padding:5px;">#</th>
                      <th style="padding:5px;">Source</th>
                      <th style="padding:5px;text-align: center;">Date</th>
                      <th style="padding:5px;text-align: center;">Score</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% colors = ['#bd0026','#f03b20','#fd8d3c','#fecc5c','#c2e699','#78c679','#31a354','#006837'] %>
                    <% index = 0 %>
                    <% @recent_scorecards.each do |scorecard| %>
                      <% index = index + 1 %>
                      <tr style="border-bottom:1px solid rgb(221,221,221);">
                        <td><%= index %></td>
                        <td style="padding:5px;"><% if scorecard.url %><%= scorecard.url %><% else %>Bundle Upload<%end%></td>
                        <td style="padding:5px;text-align:center;"><%= scorecard.date.strftime("%H:%M, %m/%d/%y") %></td>
                        <td style="padding:5px;text-align:center"><% if scorecard.result.length > 0 %><%= scorecard.result[0]["points"] %><% end %> </td>
                        <td style="padding:5px;text-align:center"><% if scorecard.result.length > 0 %><a aria-hidden="true" href="/scorecard/<%= scorecard._id %>">Report</a><% end %></td>            
                      </tr>
                    <% end %>
                  </tbody> 
                </table>
              </div>
              </div>

            </div>

          </div>
        <% end %>

        <div class="scorecard-result">

          <% colors = ['#bd0026','#f03b20','#fd8d3c','#fecc5c','#c2e699','#78c679','#31a354','#006837'] %>

          <% @scorecards.each do |scorecard| %>
            <% index = (scorecard[:points].to_f * (colors.length.to_f / (10.0 * (scorecard.keys.length-1)).to_f) ).to_i  %>
            <% index -= 1 if index > 0 %>
            <% color = colors[ index ]  %>

            <div class = 'total-element' data-score='<%= scorecard[:points] %>' data-max_score='<%= (10 * (scorecard.keys.length - 1)) %>' data-min_score = "0" ></div>

            <h2>Patient Record Score <small>( <%= scorecard[:points] %> points of <%= (10 * (scorecard.keys.length - 1)) %> total )</small></h2>

            <div class="scorecard-table">

              <% scorecard.each do |key,value| %>
                <% rubric_name = key.to_s %>
                <% next if rubric_name == 'points' %>
                <% max_points = 10.0 %>
                <% max_points = 20.0 if rubric_name == 'completeness' %>
                <% index = (value[:points].to_f * (colors.length.to_f / max_points) ).to_i  %>
                <% index -= 1 if index > 0 %>
                <% index = (colors.length - index - 1) if rubric_name == 'cvx_medications' %>
                <% color = colors[ index ]  %>
                <div class="scorecard-row">
                  <!-- <td style="text&#45;align: center; background&#45;clip: padding&#45;box; background&#45;color: <%=color%>; color: white; border: 15px solid <%= color %>; border&#45;radius: 15px;"><%= value[:points].to_s %></td> -->
                  <div class="scorecard-score" style="background-color: <%=color%>"><%= value[:points].to_s %></div>
                  <div class="scorecard-rubric">
                    <div class="scorecard-name">
                      <%= rubric_name.gsub('_',' ') %>
                    </div>
                    <div class="scorecard-out-of">
                      out of <%= max_points %> points
                    </div>
                  </div>
                  <div class="scorecard-message">
                    <%= value[:message] %>
                  </div>
                </div>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
