<script src="https://d3js.org/d3.v3.min.js"></script>


<div class="carousel-title">Dashboard</div>
  <div style="padding:10px;">
    <div class="row" style="text-align:center;border-radius:10px;border:1px solid #ddd;background-color:#f3f3f3;padding:20px;">

      <div class="col-xs-12 row" style="margin-top:10px;margin-bottom:10px;">
        <div class="calendarGraph" id="calendarGraph" class="col-sm-12" style="border-radius:10px;background-color:white;padding:10px;">

        </div>
        <div class="col-xs-12 col-sm-4">
          <h2><%= @server_count %></h2>
          <spam class="text-muted">servers tested</spam>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2>1,234,567</h2>
          <spam class="text-muted">individual tests run</spam>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2><%= @test_run_count %></h2>
          <spam class="text-muted">test runs</spam>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <h2><%= @test_suites %></h2>
          <spam class="text-muted">test suites</spam>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2><%= @tests_available %></h2>
          <spam class="text-muted">total tests</spam>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6" >
        <h4>Recent Test Runs</h4>
        <div style="background-color:white;height:300px;border-radius:10px;border:1px solid #ddd;" class="lineChart" id="lineChart">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Popular Tests</h4>
        <div style="background-color:white;height:300px;border-radius:10px;border:1px solid #ddd;" class="barChart" id="barChart">
        </div>
      </div>
      
    </div>

  </div>

</div>

<script>
  // Get the data

  var rawData = <%= raw @tests_json %>;
  var test_data = [];
  var month_data = [];
  rawData.forEach(function(d) {
    test_data.push( {
      date: new Date(d._id.year, 0, d._id.day),
      count: d.count
    })

    if( (new Date().getTime() - new Date(d._id.year, 0, d._id.day).getTime())/(1000*60*60*24.0) < 60) {
      month_data.push( {
        date: new Date(d._id.year, 0, d._id.day),
        count: d.count
      })
    }
  });

  month_data.sort(function(a,b) {
    a = a.date;
    b = b.date;
    return a<b ? -1 : a>b ? 1 : 0;
  });

  var total = 0;
  for( var i = 0; i < month_data.length; i++) {
    total += month_data[i].count;
    month_data[i].count = total;
  }

  var test_frequency = <%= raw @test_frequency %>;

var now = new Date();
var startDate = new Date( now.getFullYear() - 1, now.getMonth()+1, 1)
var endDate = new Date( now.getFullYear(), now.getMonth() + 1, 1)

var width = 960,
    height = 136,
    cellSize = 17; // cell size

var percent = d3.format(".1%"),
    format = d3.time.format("%Y-%m-%d");

var color = d3.scale.quantize()
    .domain(d3.extent(test_data, function(d) { return Math.log(d.count); }))
    .range(d3.range(9).map(function(d) { return "q" + d + "-9"; }));

var svg = d3.select("#calendarGraph").selectAll("svg")
    .data([ now ])
  .enter().append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "YlOrBr")
  .append("g")
    .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

svg.append("text")
    .attr("transform", "translate(-30," + cellSize * 3.5 + ")rotate(-90)")
    .style("text-anchor", "middle")
    .text("Last 12 Months");

var rect = svg.selectAll(".day")
    .data(function(d) { return d3.time.days(startDate, endDate); })
  .enter().append("rect")
    .attr("class", "day")
    .attr("width", cellSize)
    .attr("height", cellSize)
    .attr("x", function(d) {
       return getWeek(d) * cellSize; })
    .attr("y", function(d) { return d.getDay() * cellSize; })
    .datum(format);

rect.append("title")
    .text(function(d) { return d; });

svg.selectAll(".month")
    .data(function(d) { return d3.time.months(startDate, endDate); })
  .enter().append("path")
    .attr("class", "month")
    .attr("d", monthPath);

var dates = d3.time.days(startDate, endDate);
var data = {};
dates.forEach(function(date) {
  data[format(date)] = 0;
});

test_data.forEach( function(d) {
  data[format(d.date)] = Math.log(d.count);
});

rect.filter(function(d) { return d in data; })
      .attr("class", function(d) { return "day " + color(data[d]); })
    .select("title")
      .text(function(d) { return d + ": " + percent(data[d]); });

function getWeek(d) {
  if( d.getFullYear() == startDate.getFullYear() ) {
    return d3.time.weekOfYear(d) - d3.time.weekOfYear(startDate);
  } else {
    var weekDay = d.getDay();
    var days = d3.time.dayOfYear( d ) + 1 + d3.time.dayOfYear(new Date( endDate.getFullYear(), 0, 0)) - d3.time.dayOfYear(startDate);
    var week = Math.floor((days + startDate.getDay() ) / 7);
    return week;
  }
}

function monthPath(t0) {
  var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
      d0 = t0.getDay(), w0 = getWeek(t0),
      d1 = t1.getDay(), w1 = getWeek(t1);
  return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
      + "H" + w0 * cellSize + "V" + 7 * cellSize
      + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
      + "H" + (w1 + 1) * cellSize + "V" + 0
      + "H" + (w0 + 1) * cellSize + "Z";
}

// day and week titles
function chartTitles() {

    var weekDays = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'],
        month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

    var titlesDays = svg.selectAll('.titles-day')
        .data(weekDays)
        .enter().append('g')
        .attr('class', 'titles-day')
        .attr('transform', function (d, i) {
            return 'translate(-5,' + ( 15 + (height-15)/ 7 * i) + ')';
        });
    
    titlesDays.append('text')
        .attr('class', function (d,i) { return weekDays[i]; })
        .style('text-anchor', 'end')
        .attr('dy', '-.25em')
        .text(function (d, i) { return weekDays[i]; }); 

    var titlesMonth = svg.selectAll('.titles-month')
            .data(month)
        .enter().append('g')
            .attr('class', 'titles-month')
            .attr('transform', function (d, i) { 
                return 'translate(' + (( (  ( (i - endDate.getMonth() + 12) % 12) + 1) * (cellSize * 53 /12) )-30) + ',-5)'; 
            });

    titlesMonth.append('text')
        .attr('class', function (d,i) { return month[i]; })
        .style('text-anchor', 'end')
        .text(function (d,i) { return month[i]; });

}

chartTitles();

// Set the dimensions of the canvas / graph
var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = 538 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%d-%b-%y").parse;

// Set the ranges
var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

// Define the line
var valueline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.count); });
    
// Adds the svg canvas
var svg = d3.select("#lineChart")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");


// Scale the range of the data
x.domain(d3.extent(month_data, function(d) { return d.date; }));
y.domain([0, d3.max(month_data, function(d) { return d.count; })]);

// Add the valueline path.
svg.append("path")
    .attr("class", "line")
    .attr("d", valueline(month_data));

// Add the X Axis
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

// Add the Y Axis
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 538 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;


var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var svg = d3.select("#barChart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

x.domain(test_frequency.map(function(d) { return d._id; }));
y.domain([0, d3.max(test_frequency, function(d) { return d.count; })]);

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
  .selectAll("text")
    .style("text-anchor", "end")
    .attr("dx", "-.8em")
    .attr("dy", "-.55em")
    .attr("transform", "rotate(-45)" );

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Tests");

svg.selectAll("bar")
    .data(test_frequency)
  .enter().append("rect")
    .style("fill", function(d,i) {
      if(i%2 == 0) {return "rgb(254,153,41)" }
      else {return "rgb(153,52,4)"}
    })
    .attr("x", function(d) { return x(d._id); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d.count); })
    .attr("height", function(d) { return height - y(d.count); });

</script>