<div>
  <div id="homepageCarousel" class="server-summaries">

    <ul class="server-sortorder pull-right">
      <li class="sortorder-label">Sort By: </li>
      <li><a href="#" class="selected" id="sortorder_percent_passed">Percent Passed</a></li>
      <li><a href="#" id="sortorder_recently_tested">Recently Tested</a></li>
    </ul>

    <div class="carousel-title">
      Tested FHIR Servers
    </div>

    <div class="server-rows-container">
      <div class="server-rows">
        <%
          servers.reject{|s| s.summary.nil?}.each_with_index do |server, rank|
        %>
        <div class="server-item" 
          data-serverid="<%= server.id %>" 
          data-daysold="<%= (Date.today - server.summary.generated_at.to_date).to_i %>" 
          data-total="<%= server.summary.compliance['total'] %>" 
          data-passed="<%= server.summary.compliance['passed'] %>">
          <div class="server-rank">
            <%= rank + 1 %>
          </div>
          <%= render partial: "components/server_summary", locals: {server: server, synchronized: true, extended: false}%>
        </div>
      <% end %>
    </div>
    <% if servers.reject{|s| s.summary.nil?}.count > 15 %>
      <div class="server-scroller"></div>
    <% end %>
  </div>
</div>
</div>
