<% 
noHeader ||= false 
synchronized ||= false 
%>
<div class="summary" data-server-id="<%= server.id %>" <%if synchronized%> data-synchronized="true" <%end%>>
  <div class="starburst">
    <%= render partial: "components/starburst" %>
  </div>
  <% unless noHeader %>
    <a id="ember931" href="/servers/<%= server.id %>">
      <div class="server-summary-details">
        <span class="server-name"><%= server.name %> - </span>
        <span class="percent-passed"><%= server.percent_passing.try(:round)%>%</span>
      </div>
    </a>
    <div class="summary-time-details">
      <span class="server-time"><i class="fa fa-fw fa-clock-o"></i><span class="last-run"></span></span>
    </div>
  <% end %>

</div>
