<div>
  <div id="homepageCarousel" class="server-summaries">
    <!-- <ul class="server&#45;filters pull&#45;right"> -->
    <!--   <li class="filters&#45;label">Sort By: </li> -->
    <!--   <li><a href="#" class="selected" id="sortorder_percent_passed">Percent Passed</a></li> -->
    <!--   <li><a href="#" id="sortorder_recently_tested">Recently Tested</a></li> -->
    <!-- </ul> -->

    <!-- <ul class="server&#45;filters pull&#45;right"> -->
    <!--   <li class="filters&#45;label">Show: </li> -->
    <!--   <li><a href="#" class="selected" id="filters_active">Active Only</a></li> -->
    <!--   <li><a href="#" id="filters_all">All Servers</a></li> -->
    <!-- </ul> -->

    <!-- <div class="btn&#45;group pull&#45;right" role="group"> -->
    <!--   <button type="button" class="btn btn&#45;secondary selected" autofocus="true" id="sortorder_percent_passed">Percent Passed</button> -->
    <!--   <button type="button" class="btn btn&#45;secondary" id="sortorder_recently_tested">Recently Tested</button> -->
    <!-- </div> -->


    <div class="carousel-title">
      Tested FHIR Servers
    </div>

    <div class="server-filters-toolbar">
      <div class="server-filters-label pull-left">Sequence:</div>
      <!--<div class="server-filters btn-group pull-left">
        <button class="btn btn-secondary active" id="DSTU2">DSTU2</button>
        <button class="btn btn-secondary" id="STU3">STU3</button>
      </div>-->

      <div class="server-filters pull-left">
        <select class="filter-selector form-control" id="filters_version">
          <option value="STU3" selected>STU3</option>
          <option value="DSTU2">DSTU2</option>
          <option value="DSTU1">DSTU1</option>
        </select>
      </div>  

      <div class="server-filters-label pull-left">Show:</div>
      <div class="server-filters btn-group pull-left">
        <button class="btn btn-secondary active" id="filters_active">Active Only</button>
        <button class="btn btn-secondary" id="filters_all">All Servers</button>
      </div>

      <div class="server-filters-label pull-left">Sort By:</div>
      <div class="server-filters btn-group pull-left">
        <button class="btn btn-secondary active" id="sortorder_percent_passed">Percent Passed</button>
        <button class="btn btn-secondary" id="sortorder_recently_tested">Recently Tested</button>
      </div>

      <div class="server-search server-filters pull-right">
        <input placeholder="Find Server" type="text" name="server-search-input" id="server-search-input" class="form-control">
        <i id="filter_search" class="fa fa-search" aria-hidden="true"></i>
      </div>

    </div>
    <div class="server-rows-container">
      <div class="server-rows">
        <%
          count = 0
          servers.each_with_index do |server, index|

            server_active = (server.last_run_at || Time.at(0)) > 2.weeks.ago
            count+=1 if server_active
          %>
          <div id="server-item-<%= server.id %>"
            class="server-item"
            data-serverid="<%= server.id %>"
            data-servername="<%= server.name %>"
            data-serverurl="<%= server.url %>"
            data-lastrun="<%= (server.last_run_at.to_i || 0) + (index * 0.001) %>"
            data-active="<%= server_active %>"
            data-sequence="<%= server.fhir_sequence %>"
            data-percent="<%= server.percent_passing %>"
            style="<%= "display:none" unless server_active %>"
            >
            <div class="server-rank">
              <%= count %>
            </div>
            <%= render partial: "components/server_summary", locals: {server: server, synchronized: true, extended: false}%>
          </div>
        <% end %>
      </div>
      <div class="server-scroller"></div>
    </div>
  </div>
</div>
