<div>
  <div id="homepageCarousel" class="server-summaries">

    <ul class="server-sortorder pull-right">
      <li class="sortorder-label">Sort By: </li>
      <li><a href="#" class="selected" id="sortorder_percent_passed">Percent Passed</a></li>
      <li><a href="#" id="sortorder_recently_tested">Recently Tested</a></li>
    </ul>

    <div class="carousel-title">
      Tested FHIR Servers
    </div>

    <div class="server-rows-container">
      <div class="server-rows">
        <%
          servers.each_with_index do |server, index|
        %>
        <div class="server-item" 
          data-serverid="<%= server.id %>" 
          data-lastrun="<%=  (server.last_run_at.to_i || 0) + (index * 0.001) %>" 
          data-percent="<%= server.percent_passing %>">
          <div class="server-rank">
            <%= index + 1 %>
          </div>
          <%= render partial: "components/server_summary", locals: {server: server, synchronized: true, extended: false}%>
        </div>
      <% end %>
    </div>
    <% if servers.count > 15 %>
      <div class="server-scroller"></div>
    <% end %>
  </div>
</div>
</div>
