<div class="dash-elem">
  <div class="row dash-row" data-toggle="collapse" href="#dash-{{server.oid}}">
    <div class="col-md-4 server-name">
      <svg width="18" height="18">
        <circle cx="9" cy="9" r="9" class="{{suite.status}}"/>
      </svg>
      <p> {{server.name}}</p>
    </div>
    <div class="col-md-7 results">
      <span> 
        {{#each result.tests as |testResult|}}
          <svg width="18" height="18">
            <rect x="0" y="0" rx="3" ry="3" width="18" height="18" class="{{testResult.status}}" fill=""/>
          </svg>
        {{/each}}
      </span>
    </div>
  </div>
  <div class="row collapse" id="dash-{{server.oid}}">
    <div class="col-md-12 dash-details">
      {{> suite_result_details suite=suite result=result}}
    </div>
  </div>
</div>