<div class="container main servers-show">
  <div class="row content">
    <div class="col-sm-12">
      <div class="palette report">
        <h1>Server <span class="highlight-text">Badges</span></h1>
        <div class="well helper_text">
          Servers can earn badges by passing groups of tests related to a particular server function. The badges are based off the <a href="https://www.hl7.org/fhir/modules.html#modules">FHIR modules</a> laid out by HL7. Any badges a server has earned can be found in the summary section of the server's profile.
          <br/><br/>
          The required tests usually include resource tests related to the module as well as Connectathon test suites or other tests related to the specific modules. The different types of badges that can be earned as well as their testing requirements are listed below.
        </div>
        <div class="col-sm-12 panel-group">
        <% for badge in @badges %>

        <div class="col-sm-12 panel badge-panel">
          <div class="col-sm-2"><img class="badge-image" src="<%= image_path('badge-' + badge.image + ".png") %>"></div>
          <div class="col-sm-10 badge-description">
            <h4 class="highlight-text"><%= badge.name %></h4>
            <div style="font-size:14px;"><%= raw badge.description %></div>
            <div style="font-size:12px;padding-top:10px">
              <a role="button" data-toggle="collapse" href="#<%= badge.id %>requirements" aria-expanded="false" aria-controls="collapseExample">Requirements</a>
            </div>
            <div class="collapse" id="<%= badge.id %>requirements">
                <div class="well req-container">
                <table class="table req-table">
                <tbody>
                  <% unless badge.suites.empty? %>
                  <tr>
                    <td class="highlight-text">Resources</td>
                    <td>
                      <%= badge.resource_string %>
                    </td>
                  </tr>
                  <tr>
                    <td class="highlight-text" >Suites</td>
                    <td>
                      <%= badge.suite_string %>
                    </td>
                  </tr>
                  <% end %>
                  <% unless badge.tests.empty? %>
                  <tr>
                    <td>Tests</td>
                      <td><% for test in badge.tests %>
                      <%= test %>,
                    <% end %></td>  
                  </tr>
                  <% end %>
                </tbody>
                </table>
                </div>
            </div>
            
          </div>

        </div>

        <% end %>
        </div>
      </div>
    </div>
  </div>

  

</div>
