<div class="container main servers-show">
	<div class="row content">
		<div class="col-sm-12">
			<div class="palette report">
				<h1>Server <span style="color: #B74C18">Badges</span></h1>
				<div class="well helper_text">
					Servers can earn badges by fullfilling requirements for different types of FHIR services. The badges are based off the <a href="https://www.hl7.org/fhir/modules.html#modules">FHIR modules</a> laid out by HL7.
					<br/><br/>
					The different types of badges that can be earned as well as their testing requirements are listed below.
				</div>
				<div class="col-sm-12 panel-group">
				<% for badge in @badges %>

				<div class="col-sm-12 panel" style="min-height:130px">
					<div class="col-sm-2"><img style="width:50px;padding-top:10px;padding-bottom:10px;" src="<%= image_path(badge.image) %>"></div>
					<div class="col-sm-10" style="padding-bottom:10px;">
						<h4 style="text-align:left"><%= badge.name %></h4>
						<div style="font-size:14px;text-align:left"><%= raw badge.description %></div>
						<div style="text-align:left;font-size:12px;padding-top:10px">
							<a role="button" data-toggle="collapse" href="#<%= badge.id %>requirements" aria-expanded="false" aria-controls="collapseExample">Requirements</a>
						</div>
						<div class="collapse" id="<%= badge.id %>requirements">
  							<div class="well" style="text-align:left;font-size:14px;">
  							<table class="table" style="margin-top:0px;margin-bottom:0px;border: none;">
  							<% if !badge.suites.empty? %>
  							<tr style="border: none;">
  								<td style="border: none;">Suites</td>
  								<td style="border: none;">
	   								<% for suite in badge.suites %>
										<%= suite %>,
									<% end %>
								</td>
							</tr>
							<% end %>
							<% if !badge.tests.empty? %>
							<tr style="border: none;">
									<td style="border: none;">Tests</td>
	   								<td style="border: none;"><% for test in badge.tests %>
										<%= test %>,
									<% end %></td>	
							</tr>
							<% end %>
  							</table>
  							</div>
						</div>
						
					</div>

				</div>

				<% end %>
				</div>
			</div>
		</div>
	</div>

	

</div>