<div>
  <div class="well">
    <label class="header-label">Please enter the client ID and client Secret for the FHIR server being tested; these are supplied by the server administrator/single-sign-on application</label>
    <form id="authorize_form" method="POST" autocomplete="off">
      <input type='hidden' name='response_type' id='response_type' value='code' class="used" />
      <input type='hidden' name='redirect_uri' id='redirect_uri' class="used" value='<%= root_url %>redirect' />
      <input type='hidden' name='scope' id='scope' class="used" />
      <input type='hidden' name='aud' id='aud' class="used" value='<%= @server.url %>' />
      <input type='hidden' name='state' id='state' class="used" value='<%= @server.generate_state %>' />
      <div class="form-group">
        <label for="client_id">Client ID</label>
        <input type="text" id="client_id" name="client_id" class="form-control authorize_form_element used" <% if @server.tags.include?('argonaut') %> value="<%= @server.client_id %>" <% end %> />
      </div>
      <div class="form-group">
        <label for="client_secret">Client Secret</label>
        <input type="password" id="client_secret" name="client_secret" class="form-control authorize_form_element"  <% if @server.tags.include?('argonaut') %> value="<%= ("*" * @server.client_secret.length) if @server.client_secret %>" <% end %> />
      </div>
      <div class="form-group">
        <label for="patient_id">Patient ID (Optional)</label>
        <input type="text" id="patient_id" name="patient_id" class="form-control authorize_form_element" <% if @server.tags.include?('argonaut')%>value="<%= @server.patient_id %>"<% end %> />
      </div>
      <div class="form-group">
        <label for="launch_param">Launch Parameter (Optional. Only used if  the "launch" scope below is selected.)</label>
        <input type="text" id="launch_param" name="launch" class="form-control authorize_form_element" <% if @server.tags.include?('argonaut')%>value="<%= @server.launch_param %>"<% end %> />
      </div>

      <div class="form-group scope-types">
        <table>
          <thead>
            <th></th><th>Scope</th><th>Description</th>
          </thead>
          <tbody>
            <% if @server.tags.include?('argonaut') %>
              <%= render partial: "scope", collection: @server.get_scopes %>
            <% else %>
              <%= render partial: "scope", collection: @server.get_default_scopes %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary authorize_form_element" id="authorize_app">Authorize App</button>
        </div>
      </div>
    </form>
  </div>
</div>
