<div>
  <div class="well">
    <label class="header-label">Please enter the client ID and client Secret for the FHIR server being tested; these are supplied by the server administrator/single-sign-on application</label>
    <form id="authorize_form" method="GET">
      <input type='hidden' name='response_type' id='response_type' value='code' />
      <input type='hidden' name='redirect_uri' id='redirect_uri' value='<%= root_url %>redirect' />
      <input type='hidden' name='scope' id='scope' />
      <input type='hidden' name='aud' id='aud' value='<%= @server.url %>' />
      <input type='hidden' name='state' id='state' value='<%= @server.generate_state %>' />
      <div class="form-group">
        <label for="client_id">Client ID</label>
        <input type="text" id="client_id" name="client_id" class="form-control authorize_form_element" <% if @server.tags.include?('argonaut') %> value="<%= @server.client_id %>" <% end %> />
      </div>
      <div class="form-group">
        <label for="client_secret">Client Secret</label>
        <input type="password" id="client_secret" name="client_secret" class="form-control authorize_form_element"  <% if @server.tags.include?('argonaut') %> value="<%= "*" * @server.client_secret.length %>" <% end %> />
      </div>
      <div class="form-group scope-types">
        <table>
          <thead>
            <th></th><th>Scope</th><th>Description</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="patient/*.read" checked /></td>
              <td><code>patient/*.read</code></td>
              <td>Permission to read any resource for the current patient</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="launch/patient" checked /></td>
              <td><code>launch/patient</code></td>
              <td>When launching outside the EHR, ask for a patient to be selected at launch time</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="fhir_complete" /></td>
              <td><code>fhir_complete</code></td>
              <td>Access to the entire FHIR API</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="user/Patient.read" /></td>
              <td><code>user/Patient.read</code></td>
              <td>Permission to read all Patient resources that the current user can access</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="user/*.read" /></td>
              <td><code>user/*.read</code></td>
              <td>Permission to read all resources that the current user can access</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="user/*.*" /></td>
              <td><code>user/*.*</code></td>
              <td>Permission to read and write all resources that the current user can access</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="openid profile" /></td>
              <td><code>openid profile</code></td>
              <td>Permission to retrieve information about the current logged-in user</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="offline_access" /></td>
              <td><code>offline_access</code></td>
              <td>Request a <code>refresh_token</code> that can be used to obtain a new access token to replace an expired one, even after the end-user no is longer online after the access token expires</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="scope_vars[]" value="online_access" /></td>
              <td><code>online_access</code></td>
              <td>Request a <code>refresh_token</code> that can be used to obtain a new access token to replace an expired one, and that will be usable for as long as the end-user remains online</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary authorize_form_element" id="authorize_app">Authorize App</button>
        </div>
      </div>
    </form>
  </div>
</div>