<div id="test-<%=test.id%>">
  <div class="test-run-result ">
    <div class="toggleable panel-heading">
      <h4 class="panel-title">
        <input type="checkbox" name="<%= test.id %>">
        <a class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#<%=test.id%>_details">
        <label><%= test.name %></label>
        </a>
        <span class="test-status hidden">
          <span class="fa fa-lg fa-fw fa-spinner fa-pulse tests"></span>
        </span>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="<%=test.id%>_details" aria-expanded="false" style="height: 0px;">
      <p class="helper_text"><%= test.description %></p>
      <div class="row details">
        <div>
          <table class="table report-table nav nav-stacked">
            <tbody>
              <% test.methods.each do |method| %>
                <tr>
                  <td>
                    KEY
                  </td>
                  <td>
                    <%= method %>
                  </td>
                </tr>
              <% end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
