<div class="container main">
  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
          <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <%= flash[:notice] %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <% end %>
        <div class="row">
          <div class="col-md-9">
            <h1>Select Tests</h1>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <p class="helper_text">
          Each FHIR Interface will first generate a conformance statement. Based on the conformance, a given set of recommended tests will be shown to the user.
        </p>
        <div class="row">
          <div class="col-md-7 col-md-offset-4 server-test-details">
            <!-- START: server name and url -->
            <div class="server-details" data-server-id="<%=@server.id%>">
              <div class="authorize-icon pull-left">
                <a data-toggle="modal" data-target="#authorize-modal" class="authorization-handle authorization_handle hidden" href="#"><i class="fa fa-lock"></i></a>
              </div>
              <div class="server-icon pull-left editToggle">
                <a href="#"><i class="fa fa-server"></i></a>
              </div>
              <div class="row server-url-name">
                <div class="col-md-6">
                  <div class="server-name-panel truncate-server-data emphasize editToggle" data-toggle="tooltip" data-placement="bottom" title="<%= @server.name %>">
                    <div class="server-name-label"><%= @server.name %></div>
                  </div>
                  <div class="server-url-panel truncate-server-data editToggle" data-toggle="tooltip" data-placement="bottom" title="<%= @server.url %>">
                    <a target="_blank" class="server-url-label" href="<%= @server.url %>"><%= @server.url %></a>
                  </div>
                </div>
                <div class="col-md-3">
                  <a class="edit-server-name-icon editToggle"><i class="fa fa-pencil-square-o edit-server-name"></i></a>
                </div>
              </div>
              <div class="edit-panel row hide editToggle">
                <form id="server_update_form" method="PUT" action="<%= url_for controller: '/servers', action: 'update' %>">
                  <div class="col-md-6">
                    <input id="edit-server-name-dialogue" name="name" value='<%= @server.name %>'>
                    <input id="edit-server-url-dialogue" name="url" value='<%= @server.url %>'>
                  </div>
                  <div class="col-md-3">
                    <button class="btn secondary submit-server-name">Save</button>
                  </div>
                </form>
              </div>

            </div>
            <!-- END: server name and url -->
          </div>
        </div>

        <div class="row collapse">
          <div class="progress" id="execution-progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: 0%;">
              <span class="sr-only">0% Complete</span>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs tabbed-data-container">
            <li class="tabbed-data active"><a data-toggle="tab" href="#test-data" aria-expanded="true">Tests</a></li>
            <li class="tabbed-data"><a data-toggle="tab" href="#conformance-data" aria-expanded="false"><i class="fa fa-lg fa-fw fa-spinner fa-pulse" id="conformance_spinner"></i>Conformance</a></li>
            <li class="tabbed-data test-run-summary-handle hidden"><a data-toggle="tab" href="#test-run-summary-data">Test Run Summary</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="tab-content">
            <!-- TEST PANEL START -->
            <div class="tab-pane test-results active" id="test-data">
              <div class="test-executor" data-server-id="<%=@server.id %>" data-current-test-run-id="<%=@currentTestRunId %>" data-progress="execution-progress">
                <!-- START: Left side, with filters -->
                <div class="col-md-3">
                  <div class="filter">
                    <div>
                      <input placeholder="Enter Search" type="text" class="test-results-filter form-control">
                    </div>
                    <div class="button-holder">
                      <button type="button" class="btn secondary selectDeselectAll"><i class="fa fa-check"></i>&nbsp;Select All Test Suites</button>
                      <button type="button" class="btn secondary expandCollapseAll"><i class="fa fa-expand"></i>&nbsp;Expand All Test Suites</button>
                      <span class="tag collapse filter-by-executed">executed only <a href="#"><i class="fa fa-times"></i></a></span>
                    </div>

                    <%= render partial: "components/server_summary", locals: {server: @server, noHeader: true}%>
                    <div class="button-holder ">
                      <button class="btn execute">
                        Execute
                      </button>
                      <div class="warning-message"></div>
                      <select class="past-test-runs-selector form-control"></select>
                      <div id="current-test-run"></div>
                    </div>
                  </div>
                </div>
                <!-- END: Left side, with filters -->
                <div class="col-md-9 tab-content-holder">
                  <!-- grouping option selectors -->
                  <div class="panel-group test-results" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="test-result-error"></div>
                    <div class="test-suites">
                      loading...
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- CONFORMANCE PANEL START -->
            <div class="tab-pane" id="conformance-data" data-server-id="<%=@server.id%>">
              <div>
                loading...
              </div>
            </div>
            <div class="tab-pane" id="test-run-summary-data">
              <div class="col-md-12">
                <%= render partial: 'test_run_report', locals: {server: @server}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="Data for test result">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Test Response Data</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Authorization -->
  <div class="modal fade" id="authorize-modal" tabindex="-1" role="dialog" aria-labelledby="Authorize">
    <div class="modal-dialog medium" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="authorizeModalLabel">Authorize</h4>
        </div>
        <div class="modal-body">
          <div>
            <%= render partial: "authorization" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
