<div class="container main">

<div >
  <p class='headline'>Server Test</p>
  </div>


  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
          <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <%= flash[:notice] %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <%= flash[:alert] %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <% end %>
        <div class="row">
          <div class="col-md-12 server-test-details">
            <!-- START: server name and url -->
            <div class="server-details" data-server-id="<%=@server.id%>">
              <div class="authorize-icon pull-left">
                  <a data-toggle="modal" 
                      data-target="#authorize-modal" 
                      class="authorization-handle hidden" 
                      href="#" 
                      data-oauth-refresh-token="<%= @server.try(:oauth_token_opts) && @server.oauth_token_opts['refresh_token'] %>"
                      data-oauth-client-Id="<%= @server.try(:client_id) %>"
                      data-oauth-expires-at="<%= @server.try(:oauth_token_opts) && @server.oauth_token_opts['expires_at'] %>"><i class="fa fa-lock"></i></a>
              </div>
              <div class="server-url-name pull-left">
                <div class="server-name-panel emphasize editToggle" data-toggle="tooltip" data-placement="bottom" title="<%= @server.name %>">
                  <div class="server-name-label"><%= @server.name %></div>
                </div>
                <div class="server-url-panel editToggle" data-toggle="tooltip" data-placement="bottom" title="<%= @server.url %>">
                  <a target="_blank" class="server-url-label" href="<%= @server.url %>"><%= @server.url %></a>
                </div>
                <div class="server-tags-panel emphasize editToggle">
                    <div class="server-tags-label"></div>
                </div>
              </div>
              <a class="edit-server-name-icon editToggle pull-left"><i class="fa fa-pencil-square-o edit-server-name"></i></a>
              <div class="edit-panel row hide editToggle">
                <form id="server_update_form">
                  <div class="col-md-6">
                    <input id="edit-server-name-dialogue" name="name" value='<%= @server.name %>' placeholder='Server Name'>
                    <input id="edit-server-url-dialogue" name="url" value='<%= @server.url %>' placeholder='Server URL'>
                    <input id="edit-server-tags-dialogue" name="tags" value='<%= @server.tags.join(',') %>' placeholder="Add Tag" data-role="tagsinput">
                    <label id="edit-server-tags-dialogue-error" class="error" for="edit-server-tags-dialogue" style="display:none"></label>
                  </div>
                  <div class="col-md-3">
                    <!-- button submits without a type=button -->
                    <button class="btn secondary submit-server-name"><i class="fa fa-lg fa-fw fa-spinner fa-pulse hide"> </i>Save</button>
                    <button type="button" class="btn secondary cancel-server-name">Cancel</button>                    
                  </div>
                </form>
              </div>

            </div>
            <!-- END: server name and url -->
          </div>
        </div>

        <div class="row collapse">
          <div class="progress" id="execution-progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: 0%;">
              <span class="sr-only">0% Complete</span>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs tabbed-data-container">
            <li class="tabbed-data active"><a data-toggle="tab" href="#test-data" aria-expanded="true">Tests</a></li>
            <li class="tabbed-data"><a data-toggle="tab" href="#conformance-data" aria-expanded="false"><i class="fa fa-lg fa-fw fa-spinner fa-pulse" id="conformance_spinner"></i>Conformance</a></li>
            <li class="tabbed-data test-run-summary-handle hidden"><a data-toggle="tab" href="#test-run-summary-data">Test Run Summary</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="tab-content">
            <!-- TEST PANEL START -->
            <div class="tab-pane test-results active" id="test-data">
              <div class="test-executor" data-server-id="<%=@server.id %>" data-current-test-run-id="<%=@currentTestRunId %>" data-progress="execution-progress">
                <!-- START: Left side, with filters -->
                <div class="col-md-3">
                  <div class="filter">
                    <%= render partial: "components/server_summary", locals: {server: @server, noHeader: true}%>
                    <div>
                      <input placeholder="Enter Search" type="text" class="test-results-filter form-control">
                    </div>
                    <div class="add-filter">
                      <div class="add-filter-link"><a><i class="fa fa-plus-circle"></i> add a filter</a></div>
                      <div class="add-filter-selector" style="display: none">
                        <span>
                          <select class="filter-selector form-control">
                            <option selected="true" disabled="true">Select a filter...</option>
                            <option value="supported">supported only</option>
                            <option value="executed">executed only</option>
                            <option value="failures">failures only</option>
                          </select>
                        </span>
                        <a><i class="fa fa-close"></i></a>
                      </div>
                    </div>
                    <div class="button-holder">
                      <span class="tag filter-by-supported">supported only <a href="#"><i class="fa fa-times"></i></a></span>
                      <span class="tag filter-by-executed">executed only <a href="#"><i class="fa fa-times"></i></a></span>
                      <span class="tag filter-by-failures">failures only <a href="#"><i class="fa fa-times"></i></a></span>
                    </div>
                  </div>
                </div>
                <!-- END: Left side, with filters -->
                <div class="col-md-9 tab-content-holder">
                  <!-- grouping option selectors -->
                  <div class="panel-group test-results" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="test-result-error"></div>
                    <div class="test-result-loading"><i class="fa fa-lg fa-fw fa-spinner fa-pulse"></i> Loading...</div>
                    <div class="button-holder row hide">
                      <div class="col-md-9 suite-selectors">
                        <a class="selectDeselectAll" data-toggle="tooltip" data-placement="top" title="Select/Deselect All Suites"><i class="fa fa-check"></i></a>
                        <a class="expandCollapseAll" data-toggle="tooltip" data-placement="top" title="Expand/Collapse All Suites"><i class="fa fa-expand"></i></a>
                        <a class="change-test-run" data-toggle="tooltip" data-placement="top" title="Select Past Test Run"><i class="fa fa-clock-o"></i></a>
                        <span class="display-data-changer" style="display: none">
                          <select class="past-test-runs-selector form-control"></select>
                        </span>
                        <a class="close-change-test-run" style="display: none" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close"></i></a>
                        <span class="display-data">
                          <span class="selected-run"></span>
                          <i class="fa fa-close clear-past-run-data" style="display: none" data-toggle="tooltip" data-placement="top" title="Clear Past Test Run Data"></i>
                        </span>
                      </div>
                      <div class="col-md-3">
                        <!-- <a class="link-btn pull-right">Execute&nbsp;<i class="fa fa-arrow-circle-right"></i></a> -->
                        <button class="btn execute">
                          Execute
                        </button>
                      </div>
                      <div class="col-md-3 col-md-offset-9">
                        <button class="btn cancel" data-toggle="modal" data-target="#cancel-modal" style="display:none">
                            Cancel
                        </button>
                      </div>
                    </div>
                    <div class="warning-message alert alert-danger" role="alert"></div>
                    <div class="testrun-summary" style="display:none">summary</div>
                    <div class="test-suites">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- CONFORMANCE PANEL START -->
            <div class="tab-pane" id="conformance-data" data-server-id="<%=@server.id%>">
              <div>
                <i class="fa fa-lg fa-fw fa-spinner fa-pulse"></i> Loading
              </div>
            </div>
            <div class="tab-pane" id="test-run-summary-data">
              <div class="col-md-12">
                <%= render partial: 'test_run_report', locals: {server: @server}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="Data for test result">
    <div class="modal-dialog response-data" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Test Response Data</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal Response Data-->
  <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="Data for test result">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Test Response Data</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Authorization -->
  <div class="modal fade" id="authorize-modal" tabindex="-1" role="dialog" aria-labelledby="Authorize">
    <div class="modal-dialog medium auth" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="authorizeModalLabel">Authorize</h4>
        </div>
        <div class="modal-body">
          <div>
            <%= render partial: "authorization" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Cancel -->
  <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="Cancel">
    <div class="modal-dialog medium" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="cancelModalLabel">Cancel Test Run</h4>
        </div>
        <div class="modal-body">
          <div>
            Are you sure you want to cancel this test run?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="cancel-confirm">Cancel Test Run</button>
        </div>
      </div>
    </div>
  </div>
</div>

