<div style="display:none" class="well well-sm request-resent-message">
  Request has been resent and the results are below.
  This feature is for debug purposes and the response is not saved.
  Execute a new test run if you would like Crucible to store the response for reporting.
</div>
<h2>Request</h2>
<div class="request">
  {{#if call.request.headers}}
    <div class="show-hide-header">
      <a data-toggle="collapse" href="#{{test_id}}_{{index}}-request-headers" class="collapsed"><span class="link-show"><span class="fa fa-plus"></span> headers</span><span class="link-hide"><span class="fa fa-minus"></span> headers</span></a>
    </div>
    <div id="{{test_id}}_{{index}}-request-headers" class="collapse">
      {{#each call.request.headers}}
        <div class="header-text"><u>{{@key}}</u>: {{this}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if call.request.payload}}
    <div class="show-hide-header">
      <a data-toggle="collapse" href="#{{test_id}}_{{index}}-request" class="collapsed"><span class="link-show"><span class="fa fa-plus"></span> payload</span><span class="link-hide"><span class="fa fa-minus"></span> payload</span></a>
    </div>
          <div id="{{test_id}}_{{index}}-request" class="collapse"><pre><code>{{indent call.request.payload}}</code></pre></div>
  {{/if}}
</div>
<h2>Response</h2>
<div class="response">
  {{#if call.response.headers}}
    <div class="show-hide-header">
      <a data-toggle="collapse" href="#{{test_id}}_{{index}}-response-headers" class="collapsed"><span class="link-show"><span class="fa fa-plus"></span> headers</span><span class="link-hide"><span class="fa fa-minus"></span> headers</span></a>
    </div>
    <div id="{{test_id}}_{{index}}-response-headers" class="collapse">
      {{#each call.response.headers}}
        <div class="header-text"><u>{{@key}}</u>: {{this}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if call.response.body}}
    <div class="show-hide-header">
      <a data-toggle="collapse" href="#{{test_id}}_{{index}}-response" class="collapsed"><span class="link-show"><span class="fa fa-plus"></span> body</span><span class="link-hide"><span class="fa fa-minus"></span> body</span></a>
    </div>
          <div id="{{test_id}}_{{index}}-response" class="collapse"><pre><code>{{indent call.response.body}}</code></pre></div>
  {{/if}}
</div>
