{{#each test.requests as |call|}}
  <div class="response-panel">
    <div class="request-panel-header">
      <a role="button" data-toggle="collapse" href="#request_{{@index}}" aria-expanded="false">
          {{upper-case call.request.method}} {{call.request.url}} 
          <span class="label label-default request-panel-status-code" id="request_{{@index}}_status">{{call.response.code}}</span>
      </a>
      <a href="#" class="request-panel-refresh" data-toggle="tooltip" data-index="{{@index}}" data-placement="top" title="Reissue Request" data-original-title="Reissue Request">
        <i class="fa fa-refresh"></i>
      </a>
    </div>
    <div id="request_{{@index}}" class="collapse response-panel-body">
      {{> test_request_details index=@index call=call}}
    </div>
  </div>
{{/each}}
