<div class="media">
  <h4 class="test-run-result-id">{{test.key}}: {{test.description}}</h4>
  {{#if test.message}}
    <div class="media test-message">
      <div class="media-body">
        <h4 class="media-heading">Message</h4>
        {{test.message}}
      </div>
    </div>
  {{/if}}
  {{#if test.warnings}}
    <div class="media test-warnings">
      <div class="media-body">
        <h4 class="media-heading">Warnings</h4>
        {{#each test.warnings as |warning|}}
          <div>{{warning}}</div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if test.requests}}
    <div class="media test-response-data">
      <div class="media-body">
        <h4 class="media-heading">Request Details</h4>
        <div>
          <a href="#" class="data-link" data-toggle="modal" data-target="#data-modal" data-content="">{{test.requests.length}} request(s)</a>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if test.links}}
    <div class="media test-links">
      <div class="media-body">
        <h4 class="media-heading">Links</h4>
        {{#each test.links as |link|}}
          <div><a target="_blank" href="{{link}}">Related FHIR Spec Location</a></div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if test.requires}}
    <div class="media test-requires">
      <div class="media-body">
        <h4 class="media-heading">Test Requires</h4>
        {{#each test.requires as |requirement|}}
          <div>{{requirement.resource}}: {{#each requirement.methods as |method|}}{{method}}{{#unless @last}},{{/unless}}{{/each}}</div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if test.validates}}
    <div class="media test-validates">
      <div class="media-body">
        <h4 class="media-heading">Test Validates</h4>
        {{#each test.validates as |validation|}}
          {{> validation validation=validation}}
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if test.status}}
    <div class="media test-permalink">
      <div class="media-body">
        <a href="#" class="test-permalink-link"><i class="glyphicon glyphicon-link"/> Test Result Permalink</a>
        <span class="label label-primary permalink-copied" style="display:none">Copied to Clipboard</span>
      </div>
    </div>
  {{/if}}
</div>
