<div class="container main servers-show">
  <div class="row content">
    <div class="col-sm-12">
      <div class="palette report">

        <%= render "info" %>

        <% if @invalid_launch %>

          <div id="accordion" aria-multiselectable="true">
            <a href="#params" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="params">
              <div align="left">Invalid Launch!</div>
            </a>
            <div id="params" class="collapse in">
              <table class="table">
                <tbody>
                  <% @app_params.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

        <% elsif @invalid_launch_state %>

          <div id="accordion" aria-multiselectable="true">
            <a href="#params" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="params">
              <div align="left">OAuth2 Redirect Parameters</div>
            </a>
            <div id="params" class="collapse in">
              <table class="table">
                <tbody>
                  <% @app_params.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <a href="#session" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="session">
              <div align="left">Session State</div>
            </a>
            <div id="session" class="collapse in">
              <table class="table">
                <tbody>
                  <% @app_session.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <a href="#errors" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="errors">
              <div align="left">Errors</div>
            </a>
            <div id="errors" class="collapse in">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Detail</th>
                  </tr>
                  <tr>
                    <td><span class="fail">FAIL</span></td>
                    <td>Invalid Launch State</td>
                    <td>
                      The <span>state</span> parameter did not match the session <span>state</span> set at launch.
                      <br/>
                      <br/>
                      Please read the <a href="http://docs.smarthealthit.org/authorization/">SMART "launch sequence"</a> for more information.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        <% elsif @other_launch_error %>

          <div id="accordion" aria-multiselectable="true">
            <a href="#params" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="params">
              <div align="left">OAuth2 Redirect Parameters</div>
            </a>
            <div id="params" class="collapse in">
              <table class="table">
                <tbody>
                  <% @app_params.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <a href="#session" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="session">
              <div align="left">Session State</div>
            </a>
            <div id="session" class="collapse in">
              <table class="table">
                <tbody>
                  <% @app_session.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <a href="#errors" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="errors">
              <div align="left">Errors</div>
            </a>
            <div id="errors" class="collapse in">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Detail</th>
                  </tr>
                  <tr>
                    <td><span class="fail">FAIL</span></td>
                    <td>OAuth2 Launch Parameters</td>
                    <td>
                      The <span>/app</span> endpoint requires <span>code</span> and <span>state</span> parameters.
                      <br/>
                      <br/>
                      The session state should also have been set at <span>/launch</span> with <span>client_id</span>, <span>token_url</span>, and <span>fhir_url</span> information.
                      <br/>
                      <br/>
                      Please read the <a href="http://docs.smarthealthit.org/authorization/">SMART "launch sequence"</a> for more information.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        <% else %>

          <div id="accordion" aria-multiselectable="true">
            <a href="#params" class="btn btn-accent-inverse accordion_header collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="params">
              <div align="left">OAuth2 Redirect Parameters</div>
            </a>
            <div id="params" class="collapse">
              <table class="table">
                <tbody>
                  <% @app_params.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <a href="#token_response" class="btn btn-accent-inverse accordion_header collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="token_response">
              <div align="left">Token Response</div>
            </a>
            <div id="token_response" class="collapse">
              <table class="table">
                <tbody>
                  <% @token_response.each do |key, value| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <a href="#report" class="btn btn-accent-inverse accordion_header" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="report">
              <div align="left">Crucible Test Results</div>
            </a>
            <div id="report" class="collapse in">
              <div class="smart-executor">
                <p>Loading...</p>
              </div>
            </div>
          </div>

          <div align="left">
            <br/>
            <p>Tests completed in <%= @time_diff %>.</p>
            <br/>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
