<div class="container main servers-show">
  <div class="row content">
    <div class="col-sm-12">
      <div class="palette report">

        <%= render "info" %>

        <div id="accordion" aria-multiselectable="true">
          <a href="#configuration" class="btn btn-accent-inverse" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="configuration">
            <div align="left">Configuration</div>
          </a>
          <div id="configuration" class="collapse in">
            <table class="table">
              <tbody>
                <tr>
                  <th>Server</th>
                  <th>Client ID</th>
                  <th>Scopes</th>
                  <th></th>
                </tr>
                <% @oauth_data.each do |row| %>
                  <tr>
                    <td><%= row[:client] %></td>
                    <td><%= row[:client_id] %></td>
                    <td><%= row[:scopes] %></td>
                    <td>
                      <form action="cfg" method="POST">
                        <input type="hidden" name="delete" value="<%= row[:client] %>">
                        <input type="submit" class="btn begin" value="Delete">
                      </form>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
